/* AdminDashboard.css */

.admin-dashboard {
  margin: 20px;
}

h1 {
  text-align: center;
}

.metrics {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.card {
  background-color: #f4f4f4;
  padding: 20px;
  width: 22%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h2 {
  font-size: 18px;
  color: #333;
}

.card p {
  font-size: 24px;
  color: #007BFF;
  font-weight: bold;
}

h3 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  background-color: #f9f9f9;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li strong {
  font-size: 16px;
}

li em {
  font-style: italic;
}
